USE [master]
GO
/****** Object:  Database [Streamly2]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE DATABASE [Streamly2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Streamly2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Streamly2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Streamly2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Streamly2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Streamly2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Streamly2]
GO
/****** Object:  Table [dbo].[Cast]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cast](
	[cast_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[cast_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[content_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[release_date] [date] NULL,
	[video_url] [nvarchar](500) NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[type] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentCast]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentCast](
	[content_id] [int] NOT NULL,
	[cast_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[content_id] ASC,
	[cast_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentGenre]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentGenre](
	[content_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[content_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[fullname] [nvarchar](120) NULL,
	[phone_number] [nvarchar](25) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](80) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRoleAssignment]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRoleAssignment](
	[employee_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeRoleAssignment] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Episodes]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Episodes](
	[episode_id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NOT NULL,
	[season_number] [int] NULL,
	[episode_number] [int] NULL,
	[title] [nvarchar](255) NULL,
	[video_url] [nvarchar](500) NULL,
	[release_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[episode_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForgetPasswordToken]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForgetPasswordToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expiryTime] [datetime2](3) NOT NULL,
	[isUsed] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[plan_id] [int] NOT NULL,
	[txn_ref] [nvarchar](64) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](16) NOT NULL,
	[response_code] [nvarchar](64) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[review_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubscription]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubscription](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[plan_id] [int] NOT NULL,
	[purchase_date] [datetime2](3) NOT NULL,
	[duration] [int] NULL,
	[expiry_date] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viewer]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viewer](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](120) NULL,
	[phone_number] [nvarchar](25) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewerSubscriptionPlan]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewerSubscriptionPlan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
	[cost] [decimal](12, 2) NOT NULL,
	[base_duration] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchHistory]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[content_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[episode_id] [int] NULL,
	[watched_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchList]    Script Date: 9/30/2025 1:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchList](
	[watchlist_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[content_id] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[watchlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cast] ON 

INSERT [dbo].[Cast] ([cast_id], [name], [role]) VALUES (1, N'John Doe', N'Actor')
INSERT [dbo].[Cast] ([cast_id], [name], [role]) VALUES (2, N'Jane Smith', N'Actor')
INSERT [dbo].[Cast] ([cast_id], [name], [role]) VALUES (3, N'Michael Bay', N'Director')
SET IDENTITY_INSERT [dbo].[Cast] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([content_id], [title], [description], [release_date], [video_url], [thumbnail_url], [is_active], [type]) VALUES (1, N'Future War', N'A war movie set in the future.', CAST(N'2023-01-01' AS Date), N'https://streamly.com/videos/futurewar.mp4', N'https://streamly.com/thumbs/futurewar.jpg', 1, N'other')
INSERT [dbo].[Content] ([content_id], [title], [description], [release_date], [video_url], [thumbnail_url], [is_active], [type]) VALUES (2, N'Laugh Life', N'A funny take on modern life.', CAST(N'2022-05-15' AS Date), NULL, N'https://streamly.com/thumbs/laughlife.jpg', 1, N'other')
INSERT [dbo].[Content] ([content_id], [title], [description], [release_date], [video_url], [thumbnail_url], [is_active], [type]) VALUES (1003, N'Imposible', N'none', CAST(N'2022-05-30' AS Date), N'https://pixeldrain.com/api/file/1y7dyoru', N'https://pixeldrain.com/api/file/5zpB5R5b', 1, N'other')
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
INSERT [dbo].[ContentCast] ([content_id], [cast_id]) VALUES (1, 1)
INSERT [dbo].[ContentCast] ([content_id], [cast_id]) VALUES (1, 3)
INSERT [dbo].[ContentCast] ([content_id], [cast_id]) VALUES (2, 2)
GO
INSERT [dbo].[ContentGenre] ([content_id], [genre_id]) VALUES (1, 1)
INSERT [dbo].[ContentGenre] ([content_id], [genre_id]) VALUES (1, 4)
INSERT [dbo].[ContentGenre] ([content_id], [genre_id]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Episodes] ON 

INSERT [dbo].[Episodes] ([episode_id], [content_id], [season_number], [episode_number], [title], [video_url], [release_date]) VALUES (1, 2, 1, 1, N'Pilot', N'https://streamly.com/videos/laughlife-s01e01.mp4', CAST(N'2022-05-15' AS Date))
INSERT [dbo].[Episodes] ([episode_id], [content_id], [season_number], [episode_number], [title], [video_url], [release_date]) VALUES (2, 2, 1, 2, N'Work Problems', N'https://streamly.com/videos/laughlife-s01e02.mp4', CAST(N'2022-05-22' AS Date))
SET IDENTITY_INSERT [dbo].[Episodes] OFF
GO
SET IDENTITY_INSERT [dbo].[ForgetPasswordToken] ON 

INSERT [dbo].[ForgetPasswordToken] ([id], [userId], [token], [expiryTime], [isUsed], [created_at]) VALUES (1, 1005, N'1e2f5640-6996-4fae-891d-3a2aca4051fb', CAST(N'2025-09-24T00:42:18.4730000' AS DateTime2), 1, CAST(N'2025-09-23T17:32:18.4900000' AS DateTime2))
INSERT [dbo].[ForgetPasswordToken] ([id], [userId], [token], [expiryTime], [isUsed], [created_at]) VALUES (2, 1005, N'926d1f6b-06bf-4e8c-9ace-86fceca1e109', CAST(N'2025-09-25T00:53:40.8730000' AS DateTime2), 0, CAST(N'2025-09-24T17:43:40.8900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ForgetPasswordToken] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([genre_id], [name]) VALUES (1, N'Action')
INSERT [dbo].[Genre] ([genre_id], [name]) VALUES (1002, N'Adventure')
INSERT [dbo].[Genre] ([genre_id], [name]) VALUES (1003, N'Animation')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransaction] ON 

INSERT [dbo].[PaymentTransaction] ([id], [user_id], [plan_id], [txn_ref], [amount], [status], [response_code], [created_at]) VALUES (1, 1004, 1, N'45121568-d110-4a94-bd91-6e14cd473379', CAST(0.00 AS Decimal(12, 2)), N'PENDING', NULL, CAST(N'2025-09-23T17:26:13.0580000' AS DateTime2))
INSERT [dbo].[PaymentTransaction] ([id], [user_id], [plan_id], [txn_ref], [amount], [status], [response_code], [created_at]) VALUES (2, 1004, 2, N'7797a8d3-ac95-402a-854d-37e67e7c598b', CAST(20000.00 AS Decimal(12, 2)), N'PENDING', NULL, CAST(N'2025-09-23T17:26:52.6530000' AS DateTime2))
INSERT [dbo].[PaymentTransaction] ([id], [user_id], [plan_id], [txn_ref], [amount], [status], [response_code], [created_at]) VALUES (3, 1005, 2, N'cfcb6f9e-cc0f-4ac5-a8a0-8bbfcf86035b', CAST(20000.00 AS Decimal(12, 2)), N'PENDING', NULL, CAST(N'2025-09-23T17:36:04.9510000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PaymentTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([review_id], [content_id], [user_id], [rating], [comment], [review_date]) VALUES (1, 1, 1, 5, N'Amazing sci-fi experience!', CAST(N'2025-09-10T22:30:41.347' AS DateTime))
INSERT [dbo].[Reviews] ([review_id], [content_id], [user_id], [rating], [comment], [review_date]) VALUES (2, 2, 2, 4, N'Super funny show!', CAST(N'2025-09-10T22:30:41.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Viewer] ON 

INSERT [dbo].[Viewer] ([user_id], [username], [fullname], [phone_number], [email], [password_hash], [created_at]) VALUES (1, N'alice', NULL, NULL, N'alice@example.com', N'hash1', CAST(N'2025-09-10T22:30:41.3400000' AS DateTime2))
INSERT [dbo].[Viewer] ([user_id], [username], [fullname], [phone_number], [email], [password_hash], [created_at]) VALUES (2, N'bob', NULL, NULL, N'bob@example.com', N'hash2', CAST(N'2025-09-10T22:30:41.3400000' AS DateTime2))
INSERT [dbo].[Viewer] ([user_id], [username], [fullname], [phone_number], [email], [password_hash], [created_at]) VALUES (3, N'charlie', NULL, NULL, N'charlie@example.com', N'hash3', CAST(N'2025-09-10T22:30:41.3400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Viewer] OFF
GO
SET IDENTITY_INSERT [dbo].[ViewerSubscriptionPlan] ON 

INSERT [dbo].[ViewerSubscriptionPlan] ([id], [name], [cost], [base_duration]) VALUES (1, N'free', CAST(0.00 AS Decimal(12, 2)), 9999)
INSERT [dbo].[ViewerSubscriptionPlan] ([id], [name], [cost], [base_duration]) VALUES (2, N'gold', CAST(20000.00 AS Decimal(12, 2)), 30)
SET IDENTITY_INSERT [dbo].[ViewerSubscriptionPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[WatchHistory] ON 

INSERT [dbo].[WatchHistory] ([history_id], [content_id], [user_id], [episode_id], [watched_at]) VALUES (1, 1, 1, NULL, CAST(N'2025-09-10T22:30:41.347' AS DateTime))
INSERT [dbo].[WatchHistory] ([history_id], [content_id], [user_id], [episode_id], [watched_at]) VALUES (2, 2, 2, 1, CAST(N'2025-09-10T22:30:41.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[WatchHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[WatchList] ON 

INSERT [dbo].[WatchList] ([watchlist_id], [user_id], [content_id], [added_at]) VALUES (1, 3, 1, CAST(N'2025-09-10T22:30:41.347' AS DateTime))
INSERT [dbo].[WatchList] ([watchlist_id], [user_id], [content_id], [added_at]) VALUES (2, 3, 2, CAST(N'2025-09-10T22:30:41.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[WatchList] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E6164937BFD21]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__F3DBC572C610E384]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__72E12F1B2C0B9C0E]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[EmployeeRole] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_FPT_Token]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[ForgetPasswordToken] ADD  CONSTRAINT [UQ_FPT_Token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FPT_Token]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_FPT_Token] ON [dbo].[ForgetPasswordToken]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FPT_User]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_FPT_User] ON [dbo].[ForgetPasswordToken]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Genre__72E12F1BCF992B1D]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[Genre] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PaymentTx_TxnRef]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[PaymentTransaction] ADD  CONSTRAINT [UQ_PaymentTx_TxnRef] UNIQUE NONCLUSTERED 
(
	[txn_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTx_TxnRef]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTx_TxnRef] ON [dbo].[PaymentTransaction]
(
	[txn_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTx_User_Created]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTx_User_Created] ON [dbo].[PaymentTransaction]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_user_id]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_user_id] ON [dbo].[Reviews]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSubscription_user_id]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSubscription_user_id] ON [dbo].[UserSubscription]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Viewer__AB6E6164865922D4]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[Viewer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Viewer__F3DBC57259CB2555]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[Viewer] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ViewerSu__72E12F1BC06BE972]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[ViewerSubscriptionPlan] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WatchHistory_user_id]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_WatchHistory_user_id] ON [dbo].[WatchHistory]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_WatchList]    Script Date: 9/30/2025 1:40:30 PM ******/
ALTER TABLE [dbo].[WatchList] ADD  CONSTRAINT [UC_WatchList] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WatchList_user_id]    Script Date: 9/30/2025 1:40:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_WatchList_user_id] ON [dbo].[WatchList]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [DF_Content_IsActive]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [DF_Content_TypeText]  DEFAULT (N'other') FOR [type]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Emp_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ForgetPasswordToken] ADD  CONSTRAINT [DF_FPT_IsUsed]  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[ForgetPasswordToken] ADD  CONSTRAINT [DF_FPT_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  CONSTRAINT [DF_PaymentTx_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[UserSubscription] ADD  CONSTRAINT [DF_Sub_Purchase]  DEFAULT (sysutcdatetime()) FOR [purchase_date]
GO
ALTER TABLE [dbo].[Viewer] ADD  CONSTRAINT [DF_Viewer_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[WatchHistory] ADD  DEFAULT (getdate()) FOR [watched_at]
GO
ALTER TABLE [dbo].[WatchList] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[ContentCast]  WITH CHECK ADD FOREIGN KEY([cast_id])
REFERENCES [dbo].[Cast] ([cast_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentCast]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentGenre]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentGenre]  WITH CHECK ADD FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genre] ([genre_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeRoleAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ERA_Emp] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeRoleAssignment] CHECK CONSTRAINT [FK_ERA_Emp]
GO
ALTER TABLE [dbo].[EmployeeRoleAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ERA_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[EmployeeRole] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeRoleAssignment] CHECK CONSTRAINT [FK_ERA_Role]
GO
ALTER TABLE [dbo].[Episodes]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForgetPasswordToken]  WITH CHECK ADD  CONSTRAINT [FK_FPT_Viewer] FOREIGN KEY([userId])
REFERENCES [dbo].[Viewer] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForgetPasswordToken] CHECK CONSTRAINT [FK_FPT_Viewer]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTx_Plan] FOREIGN KEY([plan_id])
REFERENCES [dbo].[ViewerSubscriptionPlan] ([id])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTx_Plan]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTx_Viewer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Viewer] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTx_Viewer]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Viewer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Viewer] ([user_id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Viewer]
GO
ALTER TABLE [dbo].[UserSubscription]  WITH CHECK ADD  CONSTRAINT [FK_Sub_Plan] FOREIGN KEY([plan_id])
REFERENCES [dbo].[ViewerSubscriptionPlan] ([id])
GO
ALTER TABLE [dbo].[UserSubscription] CHECK CONSTRAINT [FK_Sub_Plan]
GO
ALTER TABLE [dbo].[UserSubscription]  WITH CHECK ADD  CONSTRAINT [FK_Sub_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Viewer] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSubscription] CHECK CONSTRAINT [FK_Sub_User]
GO
ALTER TABLE [dbo].[UserSubscription]  WITH CHECK ADD  CONSTRAINT [FK_UserSubscription_Viewer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Viewer] ([user_id])
GO
ALTER TABLE [dbo].[UserSubscription] CHECK CONSTRAINT [FK_UserSubscription_Viewer]
GO
ALTER TABLE [dbo].[WatchHistory]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchHistory]  WITH CHECK ADD FOREIGN KEY([episode_id])
REFERENCES [dbo].[Episodes] ([episode_id])
GO
ALTER TABLE [dbo].[WatchHistory]  WITH CHECK ADD  CONSTRAINT [FK_WatchHistory_Viewer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Viewer] ([user_id])
GO
ALTER TABLE [dbo].[WatchHistory] CHECK CONSTRAINT [FK_WatchHistory_Viewer]
GO
ALTER TABLE [dbo].[WatchList]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[Content] ([content_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchList]  WITH CHECK ADD  CONSTRAINT [FK_WatchList_Viewer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Viewer] ([user_id])
GO
ALTER TABLE [dbo].[WatchList] CHECK CONSTRAINT [FK_WatchList_Viewer]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [CK_Content_Type_Enum] CHECK  (([type]=N'other' OR [type]=N'series' OR [type]=N'movie'))
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [CK_Content_Type_Enum]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [CK_PaymentTx_Amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [CK_PaymentTx_Amount]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [CK_PaymentTx_Status] CHECK  (([status]=N'FAIL' OR [status]=N'SUCCESS' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [CK_PaymentTx_Status]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[UserSubscription]  WITH CHECK ADD  CONSTRAINT [CK_Sub_Duration] CHECK  (([duration] IS NULL OR [duration]>(0)))
GO
ALTER TABLE [dbo].[UserSubscription] CHECK CONSTRAINT [CK_Sub_Duration]
GO
ALTER TABLE [dbo].[ViewerSubscriptionPlan]  WITH CHECK ADD  CONSTRAINT [CK_Plan_Cost] CHECK  (([cost]>=(0)))
GO
ALTER TABLE [dbo].[ViewerSubscriptionPlan] CHECK CONSTRAINT [CK_Plan_Cost]
GO
ALTER TABLE [dbo].[ViewerSubscriptionPlan]  WITH CHECK ADD  CONSTRAINT [CK_Plan_Duration] CHECK  (([base_duration]>(0)))
GO
ALTER TABLE [dbo].[ViewerSubscriptionPlan] CHECK CONSTRAINT [CK_Plan_Duration]
GO
USE [master]
GO
